// Färger för ljust tema
$background-color: #fff;
$font-color: #333;
$primary-color: #99bee6;
$spacing: 20px;

// Färger för mörkt tema
$dark-background-color: #1a1a1a;
$dark-font-color: #e0e0e0;
$dark-primary-color: #4dabf7;
