{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main landing" role="main">
        <div class="landing-analys">
            {{ content }}
            <div class="report-grid">
                <div class="box colors">
                    <a href="{{ base_url }}/analysis/01_colors">
                        <h1>Färgval och känsla</h1>
                    </a>
                </div>
                <div class="box load">
                    <a href="{{ base_url }}/analysis/02_load">
                        <h1>Laddningstider</h1>
                    </a>
                </div>
                <div class="box design">
                    <a href="{{ base_url }}/analysis/03_design_principles">
                        <h1>Designprinciper</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>