{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main technology" role="main">
        <aside class="menu">
            <h2>Skills</h2> 
            <div class="skills"> 
            {% for page in pages("technology") %}
                    <p><a href="{{ page.url }}">{{ page.title }}</a></p>
             {% endfor %}
            </div>
        </aside>
        <article class="article">
            {{content}}
        </article>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
