{% include 'incl/header.twig' %}

<body>
    <div class="site-wrapper">
        {% include 'incl/nav.twig' %}
        <div class="main" role="main">
            {{ content }}
        </div>
        {% include 'incl/footer.twig' %}
    </div>
</body>
</html>